{
  "env": {
    "node": true
  },
  "rules": {
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "consistent-return": 0,
    "curly": 2,
    "eqeqeq": 2,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],
    "keyword-spacing": [2, { "before": true, "after": true }],
    "no-multiple-empty-lines": 2,
    "no-throw-literal": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "none"
    }],
    "no-use-before-define": [2, "nofunc"],
    "object-curly-spacing": [2, "always"],
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single"],
    "radix": 2,
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "always"],
    "space-in-parens": [2, "never"],
    "space-unary-ops": [2, {
      "words": true,
      "nonwords": false
    }],
    "strict": [2, "never"],
    "wrap-iife": [2, "inside"]
  }
}
